body, html {
  margin: 0;
}

html {
  height: 100%;
  background-color: white;
}

body {
  height: inherit;
  overflow: hidden;
}

h1, p {
  font-family: sans-serif;
  text-align: center;
}

#order{
  margin-top: 0;
  margin-left: 0;
  display: inline-block;
  padding: 15px 80px;
  background-color: #C5C5C5;
}

#speech-recog {
    background-color: #EE6557;
    color: white;
    padding: 20px;
}
#speech-recog span{
    display: block;
    margin-bottom: 5px;
}
#state {
    margin: 10px 0px;
}

